<% provide(:title, "Contact") %>
<h2>Contact</h2>

<p>Hello there!</p>

<p>Got a qurestion or comment about Blender Guru? You can reach me through the form below, but please check the 
	<%= link_to "FAQ", '#' %>
	first.
</p>

<p><strong>**Please note:</strong> blender Guru does not provide Blender support. To continue makinng regular tutorials I unfortunately cannot commit to answering support enquiries. If you have a question you need answered please check out the forums on 
	<%= link_to "BlenderArtists.org", "http://blenderartists.org" %>
</p>

<p>Thank you for your understanding.**</p>

<h1>Contact form:</h1>